{% extends 'navbar.html' %} {% block content %} {% load static %}

<body>


    <div class="csc-header csc-header-n3" style="background-color: rgb(173, 85, 85);  ">

        <h3 style="background-color: brown; color: aliceblue;">Implementation of the Global Strategy in Bangladesh</h3>

        <p class="bodytext" style="background-color: rgb(236, 236, 236); font-size: x-large;"><b>Bangladesh</b>
        </p>
        <p class="bodytext">48.4% employed in agriculture
        </p>
        <p class="bodytext">70.1% land area devoted to agriculture
        </p>
        <p class="bodytext">17.5% share of agriculture in GDP
        </p>
        <p class="bodytext" style="background-color: rgb(236, 236, 236); font-size: x-large;"><b>Challenges</b>
        </p>
        <p class="bodytext">Close to 50 percent of Bangladesh's population is primarily employed in agriculture, with more than 70 percent of its land dedicated to growing crops. Major crops cultivated include rice, jute, wheat, tea, pulses, oil-seeds, vegetables and fruits.
            Yet despite agriculture contributing to such a large percentage of Bangladesh's overall economy, it has remained largely subsistence based, with uncertain crop yields and inefficient infrastructure limiting the ability of farmers to fully
            commercialize their production. Recognizing this environment, an In-depth Country Assessment, conducted as part of the Global Strategy to Improve Agricultural and Rural Statistics, concluded that the Bangladesh Bureau of Statistics needs to
            improve internal and external coordination with statistics producers and users. A plan focused specifically on agriculture is needed to complement and supplement national strategies for the development of statistics. Data gaps in several core
            areas already being studied such as food balance sheets, livestock and agri-environmental indicators need to be filled to produce more effective statistics and enable more informed responses to these issues. Amongst those tasked with using
            and analyzing statistics, knowledge and skills need to be further developed.
        </p>
        <p class="bodytext" style="background-color: rgb(236, 236, 236); font-size: x-large;"> <b>Current Work</b>
        </p>
        <p class="bodytext">The Global Strategy in Asia Pacific has proposed meeting agricultural and rural statistics needs in Bangladesh through the following actions.
        </p>
        <p class="bodytext">· Develop a Strategic Plan for Agricultural and Rural Statistics (SPARS)
        </p>
        <p class="bodytext">· Strengthen the agricultural crop estimation system
        </p>
        <p class="bodytext">· Develop an Integrated framework of census and surveys
        </p>
        <p class="bodytext">· Strengthen analytical capacity of institutions· Strengthen coordination, documentation, research and analysis in national statistics systems
        </p>
        <p class="bodytext">· Improve application of information and communications technology in production and dissemination of statistics
        </p>
        <p class="bodytext">· Improve knowledge and skills of statistics researchers and users· Focus on statistic users' advocacy.
        </p>
        <p class="bodytext" style="background-color: rgb(236, 236, 236); font-size: x-large;"><b>Achievements</b>
        </p>
        <p class="bodytext">Strengthened coordination mechanisms and institutional relationships have resulted in the Bangladesh government preparing and adopting a strategy paper to improve agriculture and rural statistics. A survey calendar and integrated plan for surveys
            has also been established. A roadmap for a SPARS has also been completed and endorsed by the government. The roadmap has been integrated into Bangladesh's agricultural sector development plan. The Global Strategy in Asia Pacific is currently
            collaborating with the government to develop a working SPARS.
        </p>
        <p class="bodytext">&nbsp;</p>
        <p class="bodytext">&nbsp;</p>
    </div>
</body>


{% endblock %}