{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD AGRO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type='text/css'>
</head>

<body id="bg" style="background-image: url('{% static './img/1.jpg' %} ');">


    <header>
        <div class=" main ">
            <div class="logo ">
                <a href="{% url 'home' %}"><img src="{% static './img/logo.jpg'%} "></a>

            </div>
            <nav>
                <ul>
                    <li class=" ">
                        <a href="{% url 'home' %}">BD AGRO</a>
                    </li>
                    <li>
                        <a href="{% url 'statistic' %}">STATISTIC</a>
                        <div class="dropdown">
                            <ul>
                                <li>
                                    <a href="#">Fertilizer</a>
                                </li>
                                <li>
                                    <a href="#">Seeds</a>
                                </li>
                                <li>
                                    <a href="#">Irrigation</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="# ">AGRICULTURAL INPUT</a>
                    </li>
                    <li>
                        <a href="# ">MARKETING</a>
                    </li>
                    <li>
                        <a href="# ">WINGS OF AGRICULTURE</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %} ">FARMERS DOCTOR</a>
                    </li>
                    <li>
                        <a href="# ">AGRO INFO</a>
                    </li>
                    <!-- <li>
                        <a href="# ">ABOUT US</a>
                    </li> -->
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="# ">PROFILE</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% block content %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF " crossorigin="anonymous "></script>

</body>

</html>
<div>
    <h1 style="background-color: rgb(209, 133, 88);font-size: 300%; font-style: oblique;">AGRICULTURAL TIPS AND TRICKS</h1>
    <div style="background-color: rgb(136, 75, 121);">

        <!-- Top Science News -->
        <div class="head">
            <div class="pull-left head-left">Reference Terms</div>
            <div class="pull-right head-right">from Wikipedia, the free encyclopedia</div>
        </div>
        <div class="clearfix"></div>
        <hr class="head-rule">
        <h1 id="headline" class="headline" style="background-color: bisque;">Agriculture</h1>

        <div id="term_excerpt" style="background-color:rgb(192, 132, 42);">
            <p id="first" class="lead">Agriculture is the process of producing food, feed, fiber and many other desired products by the cultivation of certain plants and the raising of domesticated animals (livestock).</p>
            <div id="rest">
                <p>The practice of agriculture is also known as "farming", while scientists, inventors and others devoted to improving farming methods and implements are also said to be engaged in agriculture.</p>
                <p>However, the relative significance of farming has dropped steadily since the beginning of industrialization, and in 2006 – for the first time in history – the services sector overtook agriculture as the economic sector employing the most
                    people worldwide.</p>
                <p>Also, agricultural production accounts for less than five percent of the gross world product (an aggregate of all gross domestic products).</p>
            </div>
        </div>

        <div id="term_attribution">
            <strong>Note:</strong> &nbsp; The above text is excerpted from the Wikipedia article "<a id="wikipedia" href="http://en.wikipedia.org/wiki/Agriculture">Agriculture</a>", which has been released under the <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License</a>.</div>

        <div class="mobile-top-rectangle hidden-md hidden-lg">



            <!-- /1002721/ScienceDaily_Mobile_Top_Rectangle -->
            <div id="adslot-mobile-top-rectangle">
                <script type="text/javascript">
                    googletag.cmd.push(function() {
                        deployads.push(function() {
                            deployads.gpt.display("adslot-mobile-top-rectangle")
                        });
                    });
                </script>
            </div>

            <hr class="hrrule">
        </div>

        <div id="term_related">For more information, see the following related content on ScienceDaily:</div>

        <div class="row">

            <div class="col-md-8 col-md-push-4">

                <div id="story_list" class="hyphenate">

                    <div class="head">
                        <div class="pull-left head-left">Related Stories</div>
                        <div class="pull-right head-right">&nbsp;</div>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="head-rule">

                    <div id="related_stories">
                        <h3 class="latest-head">
                            <a href="https://www.sciencedaily.com/releases/2021/09/210907203914.htm" style="background-color: rgb(80, 55, 32);">Insect Protein Has Great Potential to Reduce the Carbon Footprint of European Consumers</a></h3>
                        <div class="latest-summary ">
                            <span class="story-date ">Sep. 7, 2021 —</span> The use of insects as food for humans and animals has both the potential to reduce European consumers' carbon footprint and contribute to reducing incentives for continued soybean
                            cultivation in ... </div>
                        <hr>
                        <h3 class="latest-head "><a href="/releases/2021/08/210804123622.htm " style="background-color: rgb(80, 55, 32);">Promoting Biodiversity-Friendly Landscapes  Beyond Organic Farming</a></h3>
                        <div class="latest-summary ">
                            <span class="story-date ">Aug. 4, 2021 —</span> Is organic farming the only alternative to conventional agriculture to promote biodiversity in agricultural landscapes? An international research team questions this. According
                            to the authors, a ... </div>
                        <hr>
                        <h3 class="latest-head "><a href="/releases/2021/01/210111112220.htm " style="background-color: rgb(80, 55, 32);">Bacterium Protects Rice Plants from Diseases</a></h3>
                        <div class="latest-summary ">
                            <span class="story-date ">Jan. 11, 2021 —</span> Researchers were able to demonstrate how a specific bacterium inside the seeds of rice plants effectively and in an eco-friendly way inhibits destructive plant ... </div>
                        <hr>


                    </div>

                    <div class="mobile-middle-rectangle hidden-md hidden-lg ">

                        <div class="textrule ">
                            <span>advertisement</span>
                        </div>

                        <!-- /1002721/ScienceDaily_Mobile_Middle_Rectangle -->
                        <div id="adslot-mobile-middle-rectangle ">
                            <script type="text/javascript ">
                                googletag.cmd.push(function() {
                                    deployads.push(function() {
                                        deployads.gpt.display("adslot-mobile-middle-rectangle ")
                                    });
                                });
                            </script>
                        </div>

                        <hr class="hrrule ">
                    </div>

                    <div class="clearfix "></div>

                </div>
                <!-- /story_text -->

            </div>
            <!-- /col-md-8 -->

            <div class="col-md-4 col-md-pull-8 less-padding-left ">

                <div class="row ">

                    <div class="col-xs-6 col-md-12 ">

                        <ul class="nav topics ">
                            <li class="nav-header ">
                                <a href="# ">RELATED TOPICS</a>
                                <ul id="related_topics " class="nav subnav " style="background-color: rgb(15, 11, 7);">
                                    <li>
                                        <a href="/news/plants_animals/ ">Plants &amp; Animals</a>
                                        <ul class="nav nav-condensed fa-ul ">
                                            <li>
                                                <i class="fa-li fa fa-angle-right "></i><a href="/news/plants_animals/agriculture_and_food/ " rel="tag ">Agriculture and Food</a>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-angle-right "></i><a href="/news/plants_animals/food_and_agriculture/ " rel="tag ">Food and Agriculture</a>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-angle-right "></i><a href="/news/plants_animals/soil_types/ " rel="tag ">Soil Types</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/news/earth_climate/ ">Earth &amp; Climate</a>
                                        <ul class="nav nav-condensed fa-ul ">
                                            <li>
                                                <i class="fa-li fa fa-angle-right "></i><a href="/news/earth_climate/sustainability/ " rel="tag ">Sustainability</a>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-angle-right "></i><a href="/news/earth_climate/rainforests/ " rel="tag ">Rainforests</a>
                                            </li>
                                            <li>
                                                <i class="fa-li fa fa-angle-right "></i><a href="/news/earth_climate/chemistry/ " rel="tag ">Geochemistry</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-header " style="background-color: rgb(55, 112, 22);">
                                <a href="# ">RELATED TERMS</a>
                                <ul id="related_terms " class="nav nav-condensed fa-ul ">
                                    <li>
                                        <i class="fa-li fa fa-angle-right "></i><a href="/terms/shifting_cultivation.htm ">Shifting cultivation</a>
                                    </li>
                                    <li>
                                        <i class="fa-li fa fa-angle-right "></i><a href="/terms/organic_farming.htm ">Organic farming</a>
                                    </li>
                                    <li>
                                        <i class="fa-li fa fa-angle-right "></i><a href="/terms/agroecology.htm ">Agroecology</a>
                                    </li>
                                    <li>
                                        <i class="fa-li fa fa-angle-right "></i><a href="/terms/slash_and_burn.htm ">Slash and burn</a>
                                    </li>
                                    <li>
                                        <i class="fa-li fa fa-angle-right "></i><a href="/terms/heirloom_plant.htm ">Heirloom plant</a>
                                    </li>
                                    <li>
                                        <i class="fa-li fa fa-angle-right "></i><a href="/terms/sustainable_agriculture.htm ">Sustainable agriculture</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /col-xs-6 -->

                </div>
                <!-- /row -->

                <div class="left-skyscraper center-block hidden-sm hidden-xs ">



                    <!-- /1002721/ScienceDaily_Left_Skyscraper -->
                    <div id="adslot-left-skyscraper " data-google-query-id="CL3Ov4S7sPQCFfsY1QoddgUCFg " data-ad-imp="kwd75zw8lsmld2 ">
                        <script type="text/javascript ">
                            googletag.cmd.push(function() {
                                deployads.push(function() {
                                    deployads.gpt.display("adslot-left-skyscraper ")
                                });
                            });
                        </script>
                        <div id="google_ads_iframe_/1002721/ScienceDaily_Left_Skyscraper_0__container__ " style="border: 0pt none; width: 160px; height: 0px; "></div>
                    </div>

                    <hr class="hrrule ">
                </div>

            </div>
            <!-- /col-md-4 -->

        </div>
        <!-- /row -->

        <hr>
        <!-- Top Science News -->
        <div class="head " style="background-color: rgb(153, 144, 136);">
            <div id="more_title " class="pull-left head-left ">Plants &amp; Animals News</div>
            <div id="more_date " class="pull-right head-right ">November 22, 2021</div>
        </div>
        <div class="clearfix "></div>
        <hr class="head-rule ">
        <div id="heroes " style="background-color: rgb(146, 194, 170);">
            <div class="row ">
                <div class="col-sm-6 " style="padding-bottom: 10px; ">
                    <div class="row ">
                        <div class="col-xs-4 col-sm-5 col-md-6 ">
                            <div class="latest-image "><img src="/images/2021/11/211111153635_1_180x120.jpg " class="img-responsive " width="180 " height="120 " alt="Spine illustration in | (c) PIC4U / stock.adobe.com "></div>
                        </div>
                        <div class="col-xs-8 col-sm-7 col-md-6 head-no-padding-left ">
                            <h3 class="latest-head " style="background-color: rgb(78, 58, 40);"><a href="/releases/2021/11/211111153635.htm ">‘Dancing Molecules’ Successfully Repair Severe Spinal Cord Injuries</a></h3>
                        </div>
                    </div>
                    <div class="latest-summary ">
                        <span class="story-date ">Nov. 11, 2021 —</span> Researchers have developed an injectable therapy based on nanofibers that has enabled paralyzed mice with severe spinal cord injuries to regain the ability ...
                    </div>
                </div>
                <div class="col-sm-6 " style="padding-bottom: 10px; ">
                    <div class="row ">
                        <div class="col-xs-4 col-sm-5 col-md-6 ">
                            <div class="latest-image "><img src="/images/2021/11/211105114305_1_180x120.jpg " class="img-responsive " width="180 " height="120 " alt="Forest fire | (c) Lumppini / stock.adobe.com "></div>
                        </div>
                        <div class="col-xs-8 col-sm-7 col-md-6 head-no-padding-left ">
                            <h3 class="latest-head " style="background-color: rgb(78, 58, 40);"><a href="/releases/2021/11/211105114305.htm ">Increasingly Frequent Wildfires Linked to Human-Caused Climate Change</a></h3>
                        </div>
                    </div>
                    <div class="latest-summary ">
                        <span class="story-date ">Nov. 5, 2021 —</span> A new study strengthens the case that climate change has been the main cause of the growing amount of land in the western U.S. destroyed by large wildfires. And researchers ...
                    </div>
                </div>
            </div>
            <hr>

        </div>
        <hr>

        <div class="subhead " style="background-color: rgb(240, 240, 240);">
            <div class="pull-left subhead-left subhead ">Latest Headlines</div>
            <div class="pull-right subhead-right ">updated 12:56 pm ET</div>
        </div>
        <div class="clearfix "></div>
        <hr class="head-rule ">
        <div class="row " style="background-color: rgb(216, 181, 150);">

            <div class="col-md-5 col-lg-5 featured-no-padding-right ">

                <div id="featured_blurbs " class="hero tab-content ">
                    <div class="tab-pane active " id="featured_tab_1 ">
                        <h3 class="latest-head " style="background-color: rgb(63, 34, 8);"><a href="/releases/2021/11/211118203657.htm ">How Do We Know We're Tired?</a></h3>
                        <div class="latest-summary ">
                            <span class="story-date ">Nov. 18, 2021 —</span> Why do we need sleep? New research takes a step towards solving this mystery by discovering a mechanism of sleep in zebrafish, with some supporting evidence in ... </div>
                        <hr class="hidden-md hidden-lg ">
                    </div>
                    <div class="tab-pane " id="featured_tab_2 " style="background-color: rgb(78, 58, 40);">
                        <h3 class="latest-head "><a href="/releases/2021/11/211118203618.htm ">How Cells Feel Curvature</a></h3>
                        <div class="latest-summary ">
                            <span class="story-date ">Nov. 18, 2021 —</span> Cells in your body cannot see, but they can feel their surroundings and their own shape. Scientists now showed via both - experiments and theory - how cells can sense the curvature
                            of tissue around ... </div>
                        <hr class="hidden-md hidden-lg ">
                    </div>
                    <div class="tab-pane " id="featured_tab_3 ">
                        <h3 class="latest-head "><a href="/releases/2021/11/211122135332.htm ">How Sugar-Loving Microbes Could Help Power Future Cars</a></h3>
                        <div class="latest-summary ">
                            <span class="story-date ">Nov. 22, 2021 —</span> It sounds like modern-day alchemy: Transforming sugar into hydrocarbons found in gasoline. But that's exactly what scientists have done. Researchers report harnessing the wonders
                            of biology and ... </div>
                        <hr class="hidden-md hidden-lg ">
                    </div>
                </div>

            </div>

            <div class="col-md-7 col-lg-7 ">

                <ul id="featured_shorts " class="list-group hero-list hidden-xs hidden-sm ">

                    <li><a href="/releases/2021/11/211118203618.htm " data-tab="#featured_tab_2 ">How Cells Feel Curvature</a></li>






                    <li><a href="/releases/2021/11/211118203802.htm " data-tab="#featured_tab_9 ">50-Year-Old Mystery Behind Plant Growth</a></li>
                    <li><a href="/releases/2021/11/211118203758.htm " data-tab="#featured_tab_10 ">Resilience of Vertebrate Animals Declining Fast</a></li>
                </ul>
            </div>

        </div>

        <div class="more ">
            <hr class="hr-more ">
            <div class="pull-right btn-group btn-group-sm " role="group " aria-label="... ">
                <a id="featured_more " href="/news/plants_animals/ " class="btn btn-default "><i class="fa fa-chevron-right "></i></a>
            </div>
            <div class="clearfix "></div>
        </div>
        <!-- /Top Science News -->

    </div>
</div>