{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="m-3">Farmers' Doctor</h1>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid"
                    style="height: 400px; width: auto;">

                <p class="m-3">
                    Posted on: <b>{{ blog.posted_on|date:"d N Y" }}</b>
                    By:
                    <a href="#" class="text-capitalize mr-3">
                        <b>{{ blog.author.first_name }} {{ blog.author.last_name }}</b>
                    </a>
                </p>
            </div>
            <div class="row">
                <div class="text-center">
                    <a href="{% url 'blog_edit' blog.id %}" class="btn btn-info m-3">
                        <i class="fa fa-edit"></i> <span> Edit Post</span>
                    </a>
                    <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger m-3">
                        <i class="fa fa-trash"></i> <span> Delete Post</span>
                    </a>
                </div>
            </div>
            <hr />

            <h2 class="mt-3 mb-3">
                {{ blog.title }}
            </h2>

            <p class="mb-4">{{ blog.content }}</p>

            <hr />

            <div class="post-comments mb-5">
                <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">( {{comments.count}} )</span></h3>
                </header>
                {% for comment in comments %}
                <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                        <div class="user d-flex align-items-center">
                            <div class="title">
                                <strong>{{ comment.user }}</strong>
                                <span class="date">{{ comment.timestamp|timesince }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p> {{ comment.content|safe }}</p>
                    </div>
                </div>
                {% endfor %}
                {% if request.user.is_expart %}
                <div class="add-comment" id="add-comment">
                    <header>
                        <h3 class="h6">Leave a comment</h3>
                    </header>
                    {% if request.user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ comment_form.content|add_class:"form-control" }}
                        <div class="form-group col-md-12 mt-2">
                            <button type="submit" class="btn btn-outline-secondary">Submit Comment</button>
                        </div>
                    </form>
                    {% else %}
                    <a href="#">Login</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}