{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="m-3">Farmers' Doctor</h1>
                
                <form class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search"
                    {% if search_keyword %}
                    value="{{ search_keyword }}"
                    {% endif %} />
                  </form>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% for blog in blogs %}
            <div class="text-center">
                <a href="{{ blog.get_absolute_url }}">
                    <img src="{{ blog.image.url }}"
                        style="height: 250px; width: 350px; object-fit: cover; object-position: center center;"
                        alt="{{ post.title }}" class="img-fluid">
                </a>
            </div>
            <a href="{{ blog.get_absolute_url }}">
                <h3 class="h4">{{ blog.title }}</h3>
            </a>
                <div class="mb-2">
                    Author: <span class="h6">{{ blog.author.first_name }} {{ blog.author.last_name }}</span>
                </div>
                </a>
                <div class="date"><i class="icon-clock"></i>{{ blog.timestamp|timesince }}</div>
                <p class="mb-4">{{ blog.content|truncatechars:250 }}</p>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment.count }}</div>
                <a href="{% url 'blog_details' blog.id %}" class="btn btn-info">
                    Read More <i class="icofont-simple-right ml-2"></i>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% if request.user.is_authenticated and not request.user.is_expart %}
            <div class="text-center">
                <a href="{% url 'blog_post' %}" class="btn btn-primary m-3">
                    <span>Post a New Problem</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}