{% extends 'base.html'%} {% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="style.css">
</head>

<body>
    <script>
      let d = new Date();
      document.body.innerHTML = "<h1>Today's date is " + d + "</h1>"
  </script>

	<div class="main-body">
		<nav id="navbar">
			<header>Manifestation Menu</header>
			<a href="#Intro" class="nav-link">
				Why Are Agricultural Inputs Important?</a>
			<a href="#Object" class="nav-link">
				Marketing Nature</a>
			<a href="#Inheritance" class="nav-link">
				Factors affecting demand and supply</a>
			<a href="#Polymorphism" class="nav-link">
				Seeds and planting materials</a>
			<a href="#Abstraction" class="nav-link">
				Machinery and Equipment Supply</a>
			<a href="#Encapsulation" class="nav-link">
				Crucial role of appropiate fertilizer</a>
		</nav>

		<main id="main-doc">
			<section class="main-section" id="Intro">
				<header>
					Why Are Agricultural Inputs Important?
				</header>
				<p>
The backbone of any agricultural revolution is access of farmers to modern agricultural inputs. These agricultural inputs 
range from improved seeds, fertilizers and crop protection chemicals to machinery, irrigation and knowledge. Seeds are 
critical to successful crop production and inevitably, farm productivity and profitability. Fertilizer supplies nutrients to 
the soil that are essential for growth. Increased use of fertilizer and improved seeds are partially credited with the large 
increases in agricultural productivity growth in Asia during the Green Revolution in the 1960s. Irrigation is also essential 
for growth as it enables off-season farming, provides the potential for multiple harvests per year, and brings additional 
land under cultivation. Crop protection chemicals (pesticides, herbicides, insecticides and fungicides) control weed species, harmful insects and plant diseases that afflict crops. Finally, technical knowledge and machinery enhance human 
labor effectiveness and increase farm productivity. 
				</p>
				<p>Applied with the ultimate goal of maximising agricultural productivity, agricultural inputs definitely have a huge potential to scale-up and unlock agricultural productivity in Bangladesh, most especially at such a crucial time in the development 
of the nation's agriculture landscape. 
					<br><br><h2>Let us now look at the important crucial points for supply and crop marketing services in Bangladesh.:<br></h2>
				</p>
	
				<p>The particular features of input, equipment and crop marketing services that need to be considered in deciding what forms of, and approaches to, decentralization are as follows:
				</p>
				<ul>
					<li>Marketing Nature in Bangladesh</li>
					<li>Factors affecting demand and supply</li>
					<li>Seeds and planting materials</li>
					<li>Machinery and equipment supply</li>
					<li>Crucial role of appropiate fertilizer</li>
				</ul>
			</section>

			<section class="main-section" id="Object">
				<header>
					Marketing Nature
				</header>
				<p>
Agricultural sector plays a vital role in the overall economic performance of Bangladesh in terms 
of its contribution to GDP, employment generation, and food security (Alam 2011). Moreover, 
the livelihoods of the majority of the population in Bangladesh are dependent on agriculture. 
Thus, the economic development planning of this country is determined by the productivity, 
growth, and efficiency of the agricultural sector. Any damages in this sector broadly impact the 
wellbeing of most of the people of this country (Islam 2010). The production of rice in terms of 
cropped area and stock contributes to the lion share of the agricultural output in Bangladesh. 
About 74.4 % of the total cropped area is used for rice production, where about 3 % for wheat.
				</p>
        
        <P>The development of agricultural marketing depends on market intelligence and proper 
enforcement with relevant rules and regulations. Therefore, marketing resource is interlinked 
with costs and profitability. The export of horticultural crops from Bangladesh is still very 
insignificant. Practical feasibility studies should be undertaken to ascertain if Bangladesh can 
compete favourably with other exporting countries for fresh vegetables and fruits in the 
supermarkets of the developed countries in respect of quality products and regularly in supply. 
High cost and shortage of available air-cargo space are also impeding export. The high-end 
market for a perishable item has not yet fully developed (Singha &Maezawa 2019, Alam 2010, 
Hossain & Hossain 2013, Islam & Ahsan 2009). It is still in a growing stage in Bangladesh, 
mainly because the demand is still minimal. If the overall marketing is improved, it will serve the 
interests of the supermarkets and the customers.</p>       

			</section>

			<section class="main-section" id="Inheritance">
				<header>
					Factors affecting demand and supply
				</header>
				<p>
Supply and demand are the two fundamental components of a market. Supply describes how producers and manufacturers, large or small, react or behave in the marketplace when producing and selling a product. An understanding of how factors affected supply situations in the past will help farm managers understand possible supply prospects in the future.
				</p>
        <h3>
          Supply Influences:
        </h3>
				<p>
					<b>Factors crucial in influencing supply actions of producers include: </b><br><br>

					<b>The price of the product being supplied: </b>When Supply of crops increases Demands are fulfilled, hence, demand decreases according to market equilibrium. 
     <a href="https://www.britannica.com/topic/supply-and-demand">Reference is cited here.</a> 
          
<ol>
  <li>The price of the product being supplied</li>
  <li>The number of firms producing the product</li>
  <li>Technological advances</li>
  <li>The price of inputs</li>
  <li>The price of other or alternative products that could be produced</li>
  <li>Unpredictable events such as the weather</li>
  
  
  
</ol>
				</p>
    <br></br>
  <p><h3>Similarly, factors affecting demand are as follows: </h3>
  <ol>
  <li>The amount of the product being purchased</li>
  <li>The consumers income</li>
  <li>Technological advances</li>
  <li>Taste and preferneces of Consumers</li>
  <li>Consumers Expectation</li>
  <li>Number of consumers in the market</li>
  
 </ol>
    </p>	
    </section>

			<section class="main-section" id="Polymorphism">
				<header>
					Seeds and planting materials
				</header>
				<p>According to  
     <a href="https://web.apsaseed.org/news/bangladesh-seed-industry">Bangladesh Seed Industry News:</a> 
					<br>
					<b>Bangladesh constitutes the larger part of one of the Vavilovian Mega Centre of
Genetic Diversity</b> i.e.
Bangladesh is remarkably rich in genetic variability of field crops, fruits, nuts
and forest species. It is also the secondary centre of origin of many important
vegetables and fruits. People here have lived for millennia on naturally
endowed genetic diversity of these plant species, and very little of the diversity
has yet been exploited scientifically to the benefit of the people. This provides
the scope for utilization of these yet untapped genetic resources, not only for
the benefit of the people in the country but also around the globe. Much of
the future agricultural cum economic development lies hidden in these
untapped resources
				</p>

				<p>For an efficient utilization and exploitation of these resources and
opportunities, a sound national programme on plant genetic resources is not
only desirable but essential. This warrants a national commitment at the
highest level and promotion of greater collaborations both at the regional and
the global level.
					<br>To satisfy the country's needs wil increase agricultural input and, therefore, will increase annual sales. 
        </p>  
			</section>

			<section class="main-section" id="Abstraction">
				<header>
					Machinery and Equipment Supply 
				</header>

				<p>
Bangladesh has produced a remarkable progress in producing cereal grains (rice, 
wheat and maize) and to some extent, vegetables (tomato, cauliflower, cabbage, egg 
plants, beans etc.) by introducing farm mechanization. Mechanization in the country 
started with the pumping of water for irrigation. Introduction of high yielding variety of 
rice triggered the rapid expansion of irrigated area (about 61% of cultivable area). 
Though, mostly the existing conveyance and distribution systems are traditional earthen 
channels, some organizations like Barind Multipurpose Development Authority (BMDA), 
Bangladesh Agricultural Development Corporation (BADC), Bangladesh Water 
Development Board (BWDB), Local Government and Engineering Department (LGED), 
Bangladesh Academy for Rural Development (BARD) are trying to improve the existing 
water distribution systems. The BMDA, BADC and BARD have installed a number of 
buried pipe water distribution systems, mainly, under the management of agricultural 
engineers. The BADC and LGED have constructed rubber dams to trap river water for 
irrigation. The most successful mission has been accomplished by BMDA. This 
organization is working in the Barind Area of Rajshahi and Dinajpur Region. These 
areas have erratic climatic conditions and are mostly very dry compared to rest part of 
the country.
				</p>
<p> 
 In many areas of Rajbari, Faridpur, Magura, Rajshahi and Dinajpur districts, the farmers 
are using tilling and seeding machinery extensively. Some large farmers have 
purchased high speed rotary tillers and power tiller operated seeders and using them 
commercially among other farmers. From field visits to Rajbari and Dinajpur, it was 
learnt that the farmers who have purchased agricultural machinery have shifted from 
subsistence agriculture to commercial agriculture using the machines. It was informed 
that using a high speed rotary tiller a farmer got the capital (US$ 1200.00) returned he 
afforded for the machine only in one season using it on hiring basis. The high speed 
rotary tillers consist of 42-48 rotary tines instead of 18-20 tines and the rotating speed is 
500-600 in place of 300-400 in normal rotary tine arrangements. This enhances quick 
land preparation as well as smooth land preparation by reducing the ploughings from 4-
5 to only 2-3. The agricultural engineers of Bangladesh Agricultural Research Institute 
(BARI) have made this improvement on the normal two wheel tractor. 
  </p>
				<p>
        <h3>Priority areas of technical cooperation:</h3>
     <b>   
       Skill development of researchers: </b><br>
        Development of skill and knowledge of the researchers working for the improvement of 
agricultural machinery is of immense importance. This can be achieved through training 
and visit to countries having updated technologies. Such training and visit will enable 
them to work with improved skills and adequate confidence.
					<br>
					<b>Capacity building of manufacturers:</b>
        <br>Most of the small and medium sized metal workshops are doing reverse engineering 
and manufacturing spare parts of agricultural machinery. Also 15 medium and large 
manufacturers are producing machines developed within the country. These 
12 
manufacturers are engaged in fabrication of agricultural machinery (Farouk et al., 2007). 
In many cases these workshops do not have requisite precision machines and thus, the 
workmanship and quality are often sub-standard. The technicians involved in agro 
machinery have very little knowledge on quality except what they had acquired 
engineering knowledge and skill through apprenticeship at different engineering 
workshops. Therefore, regarding design, drawing and quality control, they have very 
limited perception and not aware of the performance of their products except a few 
entrepreneurs who are solely manufacturing agricultural machines as per design and 
trying to improve the quality standard.

				</p>
			</section>

			<section class="main-section" id="Encapsulation">
				<header>
					Crucial role of appropiate fertilizer
				</header>
				<p>
With the global population steadily growing, it is important that enough crops are produced each year to provide food, clothing and other agricultural products to people around the world. Crops such as corn, wheat and cotton receive nutrients from the soil they are grown in; various crops deplete soil nutrients in different ways and rates. Some crop growth can deplete soil nutrients after just a few seasons of planting. Fertilizers play an important role in providing crops with the nutrients they need to grow and be harvested for nutritious food.
				</p>
        
        <p>
          Fertilizers help deliver enough food to feed the world’s population. But they can do even more. A class of fertilizers called micronutrient fertilizers is engineered to enrich crops with vital nutrients that help support human health. For example, micronutrients such as zinc are important to human nutrition, especially children. According to a United Nations study, much of the world’s grain crops are grown in soil without adequate zinc; offering micronutrient fertilizers to grain crops enriches the grain with an important nutrient.
        </p>
<br>
        <h2>Safety Information</h2>
				<p>
					Fertilizers are essential to the security of the world’s food supply, and they must be used properly. The manufacture, sale and transportation of fertilizers is heavily regulated. States have difference regulations and statutes that address fertilizer use and production to protect human health and the environment.

In addition to individual state regulations, the federal government also regulates fertilizer production, use and transport. Fertilizer producers are required to participate in the U.S. Occupational Safety and Health Administration’s (OSHA) Process Safety Management Regulation to protect worker safety. In addition to OSHA, the U.S. Department of Agriculture, Environmental Protection Agency, Department of Homeland Security and Department of Transportation all play roles in regulating fertilizers and their production.<br>
Ammonium nitrate, a good source of nitrogen and ammonium for plants, is an important ingredient in the production of high quality, effective fertilizers. Ammonium nitrate is produced using anhydrous ammonia, a gas that can become explosive when mixed with air. While this fertilizer is applied safely every day, this feature also means that it can be dangerous in the wrong hands. Fertilizer producers take great care in the safe use and storage of anhydrous ammonia and have implemented safety measures to help prevent or mitigate an incident
				</p>
			</section>
		</main>
	</div>
    
    
</body>
  

</html>
{% endblock %}
