{% extends 'base.html'%} {% block content %}


<br />
<style>
	.bg-lightgreen {
		background-color: #25d366;
	}
 </style>
 
 
<div class="container bg-lightgreen">
  <div class="row">
    <div class="text-center">
      <div class="bg-info p-4" style="--bs-bg-opacity: .5;">Welcome to Our Insecticides Information Page</div> 
      <a class="btn btn-primary" href="{% url 'create-project' %}">Add Project</a>

      <h1>Insecticides Lists</h1>
      <table class="table table-striped" border="1">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Positive Votes</th>
          <th scope="col">Votes</th>
          <th scope="col">Create On</th>
          <th scope="col">Actions</th>
        </tr>
        {% for project in projects %}
        <tr>

          <td class="table-primary">{{project.title}}</td>
          <td class="table-primary">{{project.vote_total}}</td>
          <td class="table-primary">{{project.vote_ratio}}%</td>
          <td class="table-primary">{{project.created}}</td>
          <td class="table-primary"><a href="{% url 'update-project' project.id %}">Edit</a></td>
          <td class="table-primary"><a href="{% url 'delete-project' project.id %}">Delete</a></td>
          <td class="table-primary"><a href="{% url 'project' project.id %}">View</a></td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>
<hr />

{% endblock %}
